/* Estilos generales */
body {
  font-family: "Raleway", sans-serif;
}

/* Sección de Héroe */
#Hero-Section {
  background-image: url("../img/photoal125.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.botones {
  text-decoration: none;
}

/* Estilos de párrafo con borde */
.parrafo {
  font-size: 18px;
  color: transparent; /* Oculta el color del texto */
  -webkit-text-stroke: 0.3px black; /* Aplica un borde blanco de 1px alrededor de cada letra funciona con navegador que use webkit*/
  text-shadow:  0.3px black; /* Aplica un borde blanco de 1px alrededor de cada letra en navegador que lo admitan*/
}

/* Proyectos */
#Mis-proyectos .image-top {
  height: 208px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Imagen de Cuppon Latam */
#cuppon {
  background-repeat: no-repeat;
  background-size: contain !important;
  background-position: center;
}

/* Enlaces de contacto */
.whatsapp-link, .linkedin-link, .gmail-link {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Estilos de enlace de WhatsApp bg green hover darkgreen */
.whatsapp-link {
  background-color: #0dcaf0;
}

.whatsapp-link:hover {
  background-color: #0dcaf0;
}

.whatsapp-link i {
  margin-right: 5px;
}

/* Estilos de enlace de LinkedIn bg #0077b5 hover #046293 */
.linkedin-link {
  background-color: #0dcaf0;
}

.linkedin-link:hover {
  background-color: #0dcaf0;
}

.linkedin-link i {
  margin-right: 5px;
}

/* Estilos de enlace de Gmail bg #db4437 hover #c13517*/
.gmail-link {
  background-color: #0dcaf0;
}

.gmail-link:hover {
  background-color: #0dcaf0;
}

.gmail-link i {
  margin-right: 5px;
}

/* Centro de la sección de contacto */
.contactame {
  text-align: center;
}

/* Nombre en laptops */
.navbar-brand {
  width: 290px;
}

/* Responsive: nombre en dispositivos móviles */
@media (max-width: 768px) {
  .navbar-brand {
      width: 250px;
  }
}
